:root {
    --main-bg-color: linear-gradient(135deg, #3d5a80, #293241);
    --main-text-color: #ffffff;
}



.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}