.searchResults {
    width: 100%;
    max-width: 800px;
    padding: 8px;

    .ant-list-item {
        padding: 16px;
        border-radius: 8px;
        background-color: #ffffff;
        margin-bottom: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}